<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1B" stopProcessing="true">
	<match url="(.php)($|/)" />
	<action type="None" />
</rule>
<rule name="rule 2B" stopProcessing="true">
	<match url="^(myadm|assets)($|/)" />
	<action type="None" />
</rule>
<rule name="rule 3B" stopProcessing="true">
	<match url="^(.*)$" />
	<action type="Rewrite" url="/index.php?id={R:1}" appendQueryString="true" />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
